[Unit]
Description=Run script to update the firewall rules based on Consul data

[Service]
Type=simple
ExecStart=/etc/update-firewall.sh

[Install]
WantedBy=default.target