[Unit]
Description=Update firewall rules based on Consul every 5 minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
#Run  every day  
OnUnitActiveSec=1d
Unit=update-firewall.service

[Install]
WantedBy=timer.target